<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Welcome</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class='container'>
            <div class="header">
                <h2>Test App</h2>
                <a href="/">Home</a>
                <a href="/signin">Sign In</a>
            </div>
            <div>
                <h1>Welcome to the Test</h1>
                <p>We are going to build an application using the MVC framework! This application was built with the village88 folks!</p>
                <a href="/signin">Start</a>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <h3>Manage Users</h3>
                    <p>Using this application you will learn how to add, remove, and edit users for the application.</p>
                </div>
                <div class="col-sm-4">
                    <h3>Leave messages</h3>
                    <p>Users will be able to leave a message to another user using the application.</p>
                </div>
                <div class="col-sm-4">
                    <h3>Edit User information</h3> 
                    <p>Admins will be able to edit another user's information (email adddress, first name, last name, etc...).</p>
                </div>
            </div>
        </div>
    </body>
</html>